<section class="page-title bg-white">
  <!-- Container Start -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 text-center">
        <!-- Title text -->
        <h3 class="bg-dark text-center">About Us</h3>
      </div>
    </div>
  </div>
  <!-- Container End -->
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-img">
                    <%= image_tag 'box1.jpg', class: "img-fluid w-100 rounded" %>
                    
                </div>
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <div class="about-content">
                    <h3 class="font-weight-bold">Hidden Jewel's</h3>
                    <p>The United States has many jewels in its crown, sporting events, to world famous venues and business's.</p>
                    <h3 class="font-weight-bold">How we can help</h3>
                    <p>We provide a birdseye view of the cities local businesses and treasures unlikely found at the shopping mall, while providing valuable information without a lengthy internet search. Hidden Jewel's not only informs and directs shoppers throughout the nation, it provides seasonal tips in each category from each industries leading experts.</p>
                    <h2>Be A Gem! </h2>
                     <h4>Innovative advertising like never before in United States</h4><br />

  <h2>BENEFITS TO YOU</h2><br />

  <h1>Branded Distribution</h1>
  <p>Every time oue spokesperson promotes Hidden jewels of USA catalog on T.V., print, or at trade-shows, it is promotiong your ad as well.
  </p>
  <p>Shoppers like Hidden Jewel's with them extending your brands shelf-life to consider when the need arises.</p>

                </div>
            </div>
        </div>
    </div>
</section>




<section class="section">
    <div class="container">
      <div class="col-md-8 offset-md-2 text-center">
      

   



  <h1>Nationwide Demographics</h1>
  <p>Consumers throughout the country will learn woh you are and what you are to offer exclusively increasing your competiveness in your market.</p>

</div>
</div>

   </section>
  

