


.box {
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
background: #fff;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
margin-top: 10px;
margin-bottom: 15px;
padding: 20px;

}



h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;
}


html,
body,
header,
.jarallax {
height: 700px;
}

@media (max-width: 740px) {
html,
body,
header,
.jarallax {
height: 100vh;
}
}

@media (min-width: 800px) and (max-width: 850px) {
html,
body,
header,
.jarallax {
height: 100vh;
}
}

@media (min-width: 560px) and (max-width: 650px) {
header .jarallax h1 {
margin-bottom: .5rem !important;
}
header .jarallax h5 {
margin-bottom: .5rem !important;
}
}


@media (min-width: 660px) and (max-width: 700px) {
header .jarallax h1 {
margin-bottom: 1.5rem !important;
}
header .jarallax h5 {
margin-bottom: 1.5rem !important;
}
}

.top-nav-collapse {
background-color: #171a1f !important;
}
.navbar:not(.top-nav-collapse) {
background: #171a1f !important;
}
@media (max-width: 768px) {
.navbar:not(.top-nav-collapse) {
background: #171a1f !important;
}
}

@media (min-width: 800px) and (max-width: 850px) {
.navbar:not(.top-nav-collapse) {
background: #171a1f !important;
}
}


body {

font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;


}


html {
height: 100%;

}


#footer {
position: fixed;
left: 0;
bottom: 0;
width: 100%;
margin-top: 0px;

color: white;
text-align: center;
text-align:center



}


.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}

.card {
background-color: rgba(229, 228, 255, 0.2);
}

h6 {
line-height: 1.7;
}


.card {
margin-top: 30px;
/*margin-bottom: -45px;*/

}





.md-form .form-control {
color: #100f0f;
}
