

.box {
-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
box-shadow: 1px 1px 2px 0 #d0d0d0;
background: #fff;
border: 1px solid #ccc;
border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
margin-top: 10px;
margin-bottom: 15px;
padding: 20px;

}

h1, h2, h3, h4, h5, h6 {
margin:0;
padding:0;

}

h1 {
    font-family: Cambria, Georgia, serif;
    font-size: 24px;
    font-style: italic;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}




.card {
margin-top: 30px;
background-color: rgba(229, 228, 255, 0.2);
/*margin-bottom: -45px;*/

}



a {

    text-decoration: none;

}

a:hover {
    color: #c39331;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.md-form .form-control {
color: #100f0f;
 border-radius: 0;
}


 #map {
      height: 400px;
    }


.map-container-5{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container-5 iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}



#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #b5882e;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}



#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: rgba(0,0,0,0.9);
}


body {

font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;


}




.view,body,html{height:100%}.navbar{background-color:rgba(0,0,0,.2)}.page-footer,.top-nav-collapse{background-color:#1C2331}@media only screen and (max-width:768px){.navbar{background-color:#1C2331}}




.md-form .form-control {
color: #100f0f;
}
body {

font-family: Cambria, "Hoefler Text", Utopia, "Liberation Serif", "Nimbus Roman No9 L Regular", Times, "Times New Roman", serif;


}


.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
        
}


.navbar:not(.top-nav-collapse) {
    background: #fff !important;
    padding: 20px;

}


.overly:before {
    content: '';
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 20px;
    font-weight: bold;
    line-height: inherit;
    white-space: nowrap;
    text-transform: uppercase;
}

.hero-area .advance-search {
    background: none;
    padding: 40px 15px 25px 15px;
    border-radius: 3px;
    margin-bottom: -50px;
    box-shadow: -1px 3px 6px rgba(0, 0, 0, 0.12);
}


.page-search .advance-search .form-control {
    border: 1px solid #8c620eb8;
    background:  #fff;
    color: black;
}

.page-search {
    background: white;
    padding: 30px 0;
}

.btn-warning {
    background-color: #e29e16b8 !important;
}

.my-btn {
  margin-top: 1px;
}

.overlay {
   background-color: #e29e16b8 !important;
}

controls-top{
color: #e29e16b8 !important;
}

 .carousel-multi-item .controls-top .fas.fa-chevron-right{
    /* margin-bottom: 1.88rem; */
    text-align: center;
    background-color: #e29e16b8 !important;
}

 .carousel-multi-item .controls-top .fas.fa-chevron-left{
    /* margin-bottom: 1.88rem; */
    text-align: center;
    background-color: #e29e16b8 !important;
}


.short-popular-category-list ul li a {
    border: 1px solid #404040;
    color: white;
    font-weight: 200;
    padding: 4px 10px;
    font-size: 12px;
  
}